.card_container_projects{
    height: 501px;
    width: 350px;
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgb(0 0 0 / 75%);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    text-align: center;
}
