@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
background-color: #28223F;
	font-family: Montserrat, sans-serif;

  /* Esta parte es para que todo lo que entre en el Body se centre */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}
